<div class="container">
    <h1><b>User Registration</b></h1>
    <hr style="margin: 0 15%; border-top-color: #18d26e;">

    <form #it="ngForm" (ngSubmit)="registerForm()">

        <div class="form-group">
            <label>Username</label>
            <input type="text" type="username" name="username" class="form-control" [(ngModel)]="newUser.username"
                #username="ngModel" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <!-- type password being stupid -->
            <input type="text" type="" name="password" class="form-control" [(ngModel)]="newUser.password"
                #password="ngModel" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text"  type="userEmail" name="email" class="form-control" [(ngModel)]="newUser.email"
                #email="ngModel" required>
        </div>
        <button type="submit" class="btn" [disabled]="!it.form.valid">register</button>

    </form>

</div>