<p>top-right displays!</p>


<div class="col-md-3">
        <ul class="nav nav-pills">

    <!-- <ul class="nav nav-pills nav-stacked" role="tablist"> -->
        <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
        <li><a data-toggle="pill" href="#profile">Profile</a></li>
        <li><a data-toggle="pill" href="#friends">Friends</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#polls">Polls</a>
            <!-- <a data-toggle="pill" href="#polls">Polls</a> -->
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#createpoll">Create Poll</a>
                <a class="dropdown-item" href="#viewpolls">View Polls</a>
            </div>
        </li>
    </ul>
</div>