<form (ngSubmit)="addPollQuestionToPoll()">
    <a class="btn btn-primary" role="button" (click)="displayNewPoll = !displayNewPoll"> Create New Poll</a>
    <div class="form-group">
        <label class="sr-only" for="poll-question-input"></label>
        <input [(ngModel)]="pollQuestionInput" name="question" type="text" class="form-control" id="poll-question-input"
            placeholder="Type your question here ...">
    </div>
</form>
<form (ngSubmit)="addOptionToPoll()">
    <a class="btn btn-primary" role="button" (click)="displayNewOption = !displayNewOption">+ Add Option</a>
    <div class="form-group" *ngIf="displayNewOption">
        <label class="sr-only" for="option-input"></label>
        <input [(ngModel)]="optionInput" name="option" type="text" class="form-control" id="option-input"
            placeholder="New answer choice here ...">
    </div>
</form>
<p> </p>
<button type="submit" class="btn btn-primary" (click)="submitNewPoll()">Submit Poll</button>