<form (ngSubmit)="addPollQuestion()">
    <div class="form-group">
        <label class="sr-only" for="poll-question-input"></label>
        <input [(ngModel)]="pollQuestionInput" name="question" type="text" class="form-control" id="poll-question-input"
            placeholder="Enter question here ...">
    </div>
</form>
<form (ngSubmit)="addOptionNameToList()" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="option-input"></label>
        <input [(ngModel)]="optionInput" name="option" type="text" class="form-control" id="option-input" 
            placeholder="Enter choice here ...">
    </div>
    <!-- Add this if adding each option via a button click -->
    <!-- <button type="submit" class="btn btn-primary" (click)="addOptionToPoll()">+ Add Option </button> -->
</form>
<p> Hit Enter to add additional options </p>
<button type="submit" class="btn btn-primary" (click)="submitNewPoll()">Submit Poll</button>