<div class="container">


    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
            <li><a data-toggle="pill" href="#profile">Profile</a></li>
            <li><a data-toggle="pill" href="#friends">Friends</a></li>
            <li><a data-toggle="pill" href="#createpoll">Create Poll</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Home</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>
        <div id="profile" class="tab-pane fade">
            <h3>Profile</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <div id="friends" class="tab-pane fade">
            <h3>Friends</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>
        <div id="createpoll" class="tab-pane fade">
            <h3>CreatePoll</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>