<!-- Previous working side bar menu -->
<div class="container">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
            <li><a data-toggle="pill" href="#profile">Profile</a></li>
            <li><a data-toggle="pill" href="#friends">Friends</a></li>
            <li><a data-toggle="pill" href="#createpoll">Create Poll</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Home</h3>
            <p>Home Details.</p>
        </div>
        <div id="profile" class="tab-pane fade">
            <h3>Profile</h3>
            <p>Profile Details.</p>
        </div>
        <div id="friends" class="tab-pane fade">
            <h3>Friends</h3>
            <p>Friends Details.</p>
        </div>
        <div id="createpoll" class="tab-pane fade">
            <h3>Create Poll</h3>
            <app-poll></app-poll>
        </div>
    </div>
</div>