<div class="container">
    <div class="tab-content">
        <div id="profile" *ngIf="selection=='profile'">
            <h3>Profile</h3>
            <p>Profile Details.</p>
            <img type="file"  src="{{currentUser.profilePic}}" alt="default" style="width:32px;height:32x;" >
            <input
            style="display: none"
            type="file" (change)="changePic($event)"
            #fileInput>
            <button  (click)="fileInput.click()" (change)="changePic($event)">Upload!</button>
        </div>
        <div id="friends" *ngIf="selection=='friends'">
            <h3>Friends</h3>
            <p>Friends Details.</p>
        </div>
        <div id="createpoll" *ngIf="selection=='create-poll'">
            <h3>Create Poll</h3>
            <app-poll></app-poll>
        </div>
        <div id="viewpolls" *ngIf="selection=='view-polls'">
            <h3>View Polls</h3>
            <!-- <app-view-polls></app-view-polls> -->
        </div>
    </div>
</div>
