<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">THWOMP CHAT</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <img type="file"  src="{{currentUser.profilePic}}" alt="default" style="width:32px;height:32x;" >
    <a class="btn btn-primary" role="button" (click)="logoutCLick()">Logout</a>
</nav>