<a class="btn btn-primary" role="button" (click)="displayNewPoll = !displayNewPoll"> Create Poll</a>

<div class="form-group" *ngIf="displayNewPoll">
    
    <input type="text" class="form-control" id="pollQuestion" placeholder="Type your question here ...">
    <a class="btn btn-primary" role="button" (click)="displayNewOption = !displayNewOption">+</a>

</div>

<div class="form-group" *ngIf="displayNewOption">
   
    <input type="text" class="form-control" id="optionInput" placeholder="New answer choice here ...">
    <button type="submit" class="btn btn-primary">Submit Poll</button>
</div>
