<div class="container">
    <h1><b>User Login</b></h1>
    <hr style="margin: 0 15%; border-top-color: #18d26e;">

    <form #it="ngForm" (ngSubmit)="loginForm()">

        <div class="form-group">
            <label>Username</label>
            <input type="text" type="username" name="username" class="form-control" [(ngModel)]="login.username" 
                    #username="ngModel" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <!-- type password being stupid -->
            <input type="text" type="" name="password" class="form-control" [(ngModel)]="login.password" 
                    #password="ngModel" required>
        </div>
        <button type="submit" class="btn" [disabled]="!it.form.valid">Log in</button>
        <p class="register">Need an account? <a routerLink="/register" class="login-switch link">Register</a></p>
    </form>

</div>
