<p>bottom-right displays!</p>

<!-- <div class="tab-content"> -->
    <div id="home" class="tab-pane fade">
        <h3>Home</h3>
        <p>Home Details.</p>
    </div>
    <div id="profile" class="tab-pane fade">
        <h3>Profile</h3>
        <p>Profile Details.</p>
    </div>
    <div id="friends" class="tab-pane fade">
        <h3>Friends</h3>
        <p>Friends Details.</p>
    </div>
    <div id="polls" class="tab-pane fade">
        <h3>Polls</h3>
        <p>Poll Details.</p>
    </div>
    <div id="createpoll" class="tab-pane fade">
        <h3>Display for Create Polls</h3>
        
        <!-- <app-></app-create-poll> -->
    </div>
    <div id="viewpolls" class="tab-pane fade">
        <h3>Display for View Polls</h3>
        <!-- <app-view-polls></app-view-polls> -->

    </div>
