<div class="tab-content">
    <div id="home" class="tab-pane fade">
        <h3>Home</h3>
        <p>Home Details.</p>
    </div>
    <div id="profile" class="tab-pane fade">
        <h3>Profile</h3>
        <p>Profile Details.</p>
        <img type="file"  src="{{currentUser.profilePic}}" alt="default" style="width:32px;height:32x;" >
        <input
        style="display: none"
        type="file" (change)="changePic($event)"
        #fileInput>
        <button  (click)="fileInput.click()" (change)="changePic($event)">Upload!</button>
    </div>
    <div id="friends" class="tab-pane fade">
        <h3>Friends</h3>
        <p>Friends Details.</p>
    </div>
    <div id="createpoll" class="tab-pane fade">
        <h3>Create Poll</h3>
        <app-create-poll></app-create-poll>
    </div>
</div>