<h3>@{{chatName}}</h3>
<ul class="list-group messages">
  <li  *ngFor="let Message of messages"  class="list-group-item">
    <!-- <script>getMessageSender(Message.sender.userId)</script> -->
    <img type="file"  src="{{Message.sender.profilePic}}" alt="default" style="width:32px;height:32x;" >
    <p>{{Message.sender.userName}}</p>
    <p>{{Message.timeStamp|date:"medium"}}</p>
  
    <div>{{ Message.messageBody }}</div>
    </li>
</ul>
<div class="form-group" (keyup.enter)="sendMessage()">
  <label for="message-input" class="sr-only"></label>
  <input id="message-input" [(ngModel)]="messageInput" type="text" class="form-control" placeholder="Send New Message"/>
</div>
