<h3>@{{chatName}}</h3>
<ul class="list-group messages">
  <li  *ngFor="let Message of messages" class="list-group-item" >
    <p> <img type="file" (click)="fileInput.click()" (change)="changePic($event)" src={{profilePic}} alt="default" style="width:32px;height:32x;" > {{Message.sender.userName}}</p>
    <p>{{Message.timeStamp}}</p>
    <div>{{ Message.messageBody }}</div>
    </li>
</ul>
<div class="form-group" (keyup.enter)="sendMessage()">
  <label for="message-input" class="sr-only"></label>
  <input id="message-input" [(ngModel)]="messageInput" type="text" class="form-control" placeholder="Send New Message"/>
  <input
  style="display: none"
  type="file" (change)="changePic($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
</div>
